{% extends 'base.html' %}
{% load static %}


{% block title %}{{ guild.name }}{% endblock %}


{% block styles %}{% static 'chat/css/guild.css' %}{% endblock %}


{% block buttons_main %}
    {% include 'sidebar_buttons/home_deactive.html' %}
{% endblock %}


{% block buttons_channels %}
    {% for channel in channels %}
        {% if member.admin %}
            {% if not channel.private %}
                {% if channel == current_channel %}
                    {% include 'chat/sidebar_buttons/channel_active.html' with channel=channel %}
                {% else %}
                    {% include 'chat/sidebar_buttons/channel_deactive.html' with channel=channel %}
                {% endif %}
            {% else %}
                {% if channel == current_channel %}
                    {% include 'chat/sidebar_buttons/private-channel_active.html' with channel=channel %}
                {% else %}
                    {% include 'chat/sidebar_buttons/private-channel_deactive.html' with channel=channel %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if not channel.private %}
                {% if channel == current_channel %}
                    {% include 'chat/sidebar_buttons/channel_active.html' with channel=channel %}
                {% else %}
                    {% include 'chat/sidebar_buttons/channel_deactive.html' with channel=channel %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}


{% block dropdown_extra %}
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'channel-create' guild.id %}">Создать канал</a></li>
{% endblock %}


{% block main %}
    <div class="container-md feed">
        <div id="feed" class="messages">
            {% for message in messages %}{% include 'chat/guild_message.html' %}{% endfor %}
        </div>
        <div class="messageSend">
            <textarea style="overflow: hidden; resize: none" placeholder="Сообщение" class="form-control" id="TextMessageInput" rows="2"></textarea>
            <button class="messageSend__button" id="TextMessageButton"><img width="25px" height="25px" src="{% static 'chat/images/send.svg' %}" alt="send"></button>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        const guildId = {{ guild.id }};
        const channelId = {{ current_channel.id }}
        const redirect_url = '{% url 'index' %}';
        const delete_url = '{% static 'chat/images/delete.svg' %}';
        const member_id = {{ member.id }};
        const member_admin = {{ member.admin|lower }};
    </script>

    <script src="{% static 'chat/js/guild.js' %}"></script>
{% endblock %}