{% extends 'base.html' %}
{% load static %}


{% block styles %}{% static 'chat/css/index.css' %}{% endblock %}


{% block buttons_main %}
    {% include 'sidebar_buttons/home_active.html' %}
    {% include 'sidebar_buttons/dev_deactive.html' %}
{% endblock %}


{% block main %}
    <div class="container">
        {% for member in membership %}
            {% include 'chat/guild_link.html' with id=member.guild.id title=member.guild.name poster=member.guild.poster %}
        {% endfor %}
    </div>
{% endblock %}
