{% load static %}


<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="interkassa-verification" content="8fc903b48e8b9b6082a558aeeca90226" />

        <title>{% block title %}OnlineChat{% endblock %}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% block styles %}{% endblock %}"/>
        {% block style %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="{% block header_container_class %}container-xl{% endblock %}">
                <a {% if user.is_authenticated %}href="" {% endif %}class="header__profile">
                    <img
                        class="header__profile__img"
                        src="{% static 'images/user.svg' %}"
                        alt="userpic"
                    />
                    <span class="header__profile__bio">
                        {% if user.is_authenticated %}
                            {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}
                        {% else %}
                            Аноним
                        {% endif %}
                    </span>
                </a>
                <div class="header__controls">
                    {% if user.is_authenticated %}
                        <a class="header__controls__link" href="{% url 'index' %}">Главная</a>
                        <a class="header__controls__link" href="{% url 'logout' %}">Выйти</a>
                    {% else %}
                        <a class="header__controls__link" href="{% url 'login' %}">Войти / Регистрация</a>
                    {% endif %}
                </div>
          </div>
        </header>

        {% block main %}{% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script>
        {#const websocket_protocol = '{% if debug %}ws{% else %}wss{% endif %}';#}
        {#const http_protocol = '{% if debug %}http{% else %}https{% endif %}';#}
        </script>

        {% block script %}{% endblock %}
    </body>
</html>